//
// Replicate the styles for Shopify Admin grid.
// --------------------------------------------------

.next-grid {
  display: flex;
  width: calc(100% - 20px);
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 10px;

  &:last-of-type {
    padding-bottom: 10px;
  }
}

.next-grid--no-padding {
  width: 100%;

  &:first-of-type, &:last-of-type {
    padding: 0;
  }

  > .next-grid__cell {
    padding: 0;
  }
}

.next-grid--center-aligned, .next-grid--center-both {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.next-grid--right-aligned {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.next-grid__cell {
  @include flex(1, 1, 0%);
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
}

.next-grid__cell--third {
  @include flex(0, 0, 33.333%);
  max-width: 33.333%;
}

.next-grid__cell--no-flex {
  @include flex(0 0 auto);
}
