//
// Replicate the styles for Shopify Admin typography.
// --------------------------------------------------


//== Headings
//
//## Heading styles.

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
}
