//
// layout.scss
// Styles for admin layout.
// --------------------------------------------------

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #ebeef0;
}

#wrapper {
  min-height: 100%;
  background: #ebeef0;
}

#content {
  padding: 56px 0 0 240px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  display: block;
  max-width: 3000px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
