{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "jest"
  ],
  "root": true,
  "rules": {
    "import/first": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "app/webpack/**/*.spec.*",
          "spec/javascripts/setupTests.js"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-return-assign": [
      "error",
      "except-parens"
    ],
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-danger": "off"
  }
}
