{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "import/first": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-return-assign": [
      "error",
      "except-parens"
    ]
  }
}
