---
http_interactions:
- request:
    method: get
    uri: https://widgets.myshopify.com/admin/api/2019-04/webhooks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 9e4b82b20f617258b9c87a9186c355da
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '28'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '23632129'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '23632129'
      X-Shardid:
      - '28'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1933946'
      X-Stats-Apipermissionid:
      - '9409036317'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: ASCII-8BIT
      string: '{"webhooks":[]}'
  recorded_at: Sun, 07 Jan 2018 22:02:25 GMT
- request:
    method: post
    uri: https://widgets.myshopify.com/admin/api/2019-04/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"topic":"app/uninstalled","address":"https://test.example.com/webhooks","format":"json"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 9e4b82b20f617258b9c87a9186c355da
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '28'
      X-Sorting-Hat-Podid-Cached:
      - '1'
      X-Sorting-Hat-Shopid:
      - '23632129'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '1'
      X-Shopid:
      - '23632129'
      X-Shardid:
      - '28'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1933946'
      X-Stats-Apipermissionid:
      - '9409036317'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jan 2018 22:02:26 GMT
[...]
- request:
    method: post
    uri: https://widgets.myshopify.com/admin/api/2019-04/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"topic":"orders/create","address":"https://test.example.com/webhooks","format":"json"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 9e4b82b20f617258b9c87a9186c355da
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '28'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '23632129'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '23632129'
      X-Shardid:
      - '28'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1933946'
      X-Stats-Apipermissionid:
      - '9409036317'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: UTF-8
      string: '{"errors":{"topic":["Invalid topic specified.
        Topics allowed: app\/uninstalled, shop\/update"]}}'
  recorded_at: Sun, 07 Jan 2018 22:02:29 GMT
[...]
- request:
    method: post
    uri: https://widgets.myshopify.com/admin/api/2019-04/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"topic":"carts/update","address":"https://test.example.com/webhooks","format":"json"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 9e4b82b20f617258b9c87a9186c355da
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '28'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '23632129'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '23632129'
      X-Shardid:
      - '28'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1933946'
      X-Stats-Apipermissionid:
      - '9409036317'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: UTF-8
      string: '{"errors":{"topic":["Invalid topic specified.
        Topics allowed: app\/uninstalled, shop\/update"]}}'
  recorded_at: Sun, 07 Jan 2018 22:02:32 GMT
recorded_with: VCR 3.0.3
