.ui-page-actions {
  @include flexbox();
  margin: 0 auto;
  max-width: 1036px;
  padding: 20px 0;
  border-top: 1px solid #d3dbe2;
}

.ui-page-actions__primary {
  @include flex(1 1 auto);
  padding-right: 20px;
}

.ui-page-actions__secondary {
  @include flex(1 1 auto);
  padding: 0 20px;
}

.ui-footer-help {
  margin: 1.71429rem 0;
  text-align: center;
  width: 100%;
}

.ui-footer-help__content {
  color: rgba(0,0,0,0.56);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding: 1.14286rem;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
}

.ui-empty-state {
  text-align: center;

  .next-heading {
    font-weight: 300;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ui-empty-state__title {
  color: rgba(0,0,0,0.9);
  font-size: 1.92857rem;
  line-height: 2.57143rem;
  font-weight: 400;
  margin: 0 0 20px;

  @media (min-width: 640px) {
    font-size: 2.35714rem;
    line-height: 3.14286rem;
  }
}

.ui-empty-state__subtitle {
  color: rgba(0,0,0,0.9);
  font-size: 1.14286rem;
  line-height: 1.71429rem;
  font-weight: 400;
  color: rgba(0,0,0,0.56);
  margin: 0 0 20px;

  @media (min-width: 640px) {
    font-size: 1.42857rem;
    line-height: 2rem;
  }
}

.ui-empty-state__section {
  padding: 60px 0;
}

.ui-empty-state__subsection {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;

  & > *+* {
    margin-bottom: 20px;
  }
}

.ui-empty-state__items {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);

  margin-top: -30px;
  margin-left: -30px;
  max-width: calc(100% + 30px);
  width: calc(100% + 30px);
}

.ui-empty-state__item {
  @include flex(1 1 263.33333px);
  margin-top: 30px;
  margin-left: 30px;

  &:only-of-type {
    @include flex(0 1 454px);
  }
}

.ui-empty-state__subitems {
  @include flexbox();
  @include flex-wrap(wrap);

  margin-top: -20px;
  margin-left: -20px;
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
}

.ui-empty-state__subitem {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;

  &:first-child {
    @include flex(1 1 150px);
    height: 90px;
    min-width: 0;
  }

  &:last-child {
    @include flex(1 1 60%);
  }


  img {
    margin: 0 auto;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

