{% assign model_numeric = 42 %}
{% assign model_boolean = true %}
{% assign model_empty = nil %}
{% assign model_contains_html = "<b>This one</b>is righ<p>here</p>" %}
{% assign model_string = "The cat&#39;s pyjamas are &quot;great&quot;." %}
{% assign model_array_of_numerics = "1@!@2@!@3" | split: "@!@" %}
{% assign model_array_of_strings = "A@!@B@!@C" | split: "@!@" %}
{% assign model_hash = "{}" %}
