---
http_interactions:
- request:
    method: post
    uri: https://widgets.myshopify.com/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_70176875552280
        {\n  shop {\n    name\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_70176875552280","variables":{}}'
    headers:
      X-Shopify-Access-Token:
      - '0'
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '33'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '136'
      X-Sorting-Hat-Privacylevel:
      - default
      X-Sorting-Hat-Featureset:
      - default
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '136'
      X-Shardid:
      - '33'
      Www-Authenticate:
      - Basic Realm="Shopify API Authentication"
      X-Dc:
      - chi2,gcp-us-east1
    body:
      encoding: UTF-8
      string: '{"errors":"[API] Invalid API key or access token (unrecognized login
        or wrong password)"}'
  recorded_at: Mon, 11 Jun 2018 01:38:39 GMT
recorded_with: VCR 3.0.3
