---
http_interactions:
- request:
    method: post
    uri: https://widgets.myshopify.com/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_70333855372940
        {\n  shop {\n    name\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_70333855372940","variables":{}}'
    headers:
      X-Shopify-Access-Token:
      - 00000000000000000000000000000000
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '56'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20237963'
      X-Sorting-Hat-Privacylevel:
      - default
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20237963'
      X-Shardid:
      - '56'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1910898'
      X-Stats-Apipermissionid:
      - '30002348089'
      X-Dc:
      - chi2,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shop":{"name":"widgets"}},"extensions":{"cost":{"requestedQueryCost":1,"actualQueryCost":1,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":999,"restoreRate":50.0}}}}'
  recorded_at: Sat, 19 May 2018 20:28:47 GMT
recorded_with: VCR 3.0.3
