<% provide(:title, 'Thankyou') %>

<p>
  Thanks for installing <%= DiscoApp.configuration.app_name %>!
</p>
<p>
  Before we start setting things up, we need you to authorize a charge for the application.
</p>

<%= form_tag disco_app.subscription_charges_path(@subscription), method: 'POST', target: '_parent' do %>
  <%= submit_tag 'Okay', class: 'form-input' %>
<% end %>
