//
// Styles for Disco applications.
// --------------------------------------------------

// Mixins and utilities.
@import 'mixins/flexbox';

// UI Kit - Core and our addons.
@import 'ui-kit/ui-kit';
@import 'ui-kit/ui-type';
@import 'ui-kit/ui-icons';
@import 'ui-kit/ui-layout';
@import 'ui-kit/ui-empty-state';
@import 'ui-kit/ui-footer-help';
@import 'ui-kit/ui-page-actions';
@import 'ui-kit/ui-tabs';
