// Set variables
$font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
$sidebar-width: 197px;
$header-height: 57px;

// Include components
@import "frame/layout";
@import "frame/type";
@import "frame/buttons";
@import "frame/forms";
