//
// Type
// --------------------------------------------------

// Base
html, body {
  font-family: $font-family;
  font-size: 13px;
}

// Headers
h1 {
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  font-family: $font-family;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

// Text utilities
.text-muted {
  color: #ccc;
}
