<!DOCTYPE html>
<html>
<head>
  <title>DiscoApp</title>
  <%= stylesheet_link_tag    "disco_app/application", media: "all" %>
  <%= javascript_include_tag "disco_app/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
