default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  host: localhost
  port: 5432
  database: <%= Rails.application.class.parent_name.downcase %>

test:
  <<: *default
  host: localhost
  port: 5432
  database: <%= Rails.application.class.parent_name.downcase %>_test

production:
  <<: *default
