//
// ui-icons.scss
// Styles for icons not provided by the Channel SDK
// UI Kit. Note that these are older icons, and will
// probably be replaced soon.
// --------------------------------------------------

.ico {
  display: inline-block;
  line-height: 0;
  vertical-align: top;
  text-indent: 999em;
  white-space: nowrap;
  overflow: hidden;
}

.ico-delete {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20xmlns%3Asketch%3D"http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns"%20width%3D"12px"%20height%3D"12px"%20viewBox%3D"0%200%2012%2012"%20version%3D"1.1"><style%20type%3D"text%2Fcss">circle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23479ccf%20%21important%3B%20%7D<%2Fstyle><title>trash-can-small<%2Ftitle><desc>Created%20with%20Sketch.<%2Fdesc><defs%2F><g%20id%3D"Page-1"%20stroke%3D"none"%20stroke-width%3D"1"%20fill%3D"none"%20fill-rule%3D"evenodd"%20sketch%3Atype%3D"MSPage"><g%20id%3D"trash-can-small"%20sketch%3Atype%3D"MSLayerGroup"%20fill%3D"%23479CCF"><path%20d%3D"M7.63636364%2C1.09090909%20L7.63636364%2C0.818181818%20C7.63636364%2C0.366545455%207.26981818%2C0%206.81818182%2C0%20L5.18181818%2C0%20C4.73018182%2C0%204.36363636%2C0.366545455%204.36363636%2C0.818181818%20L4.36363636%2C1.09090909%20L0.825818182%2C1.09090909%20C0.369818182%2C1.09090909%200%2C1.45745455%200%2C1.90909091%20C0%2C2.36072727%200.369818182%2C3.02727272%200.825818182%2C3.02727272%20L11.1741818%2C3.02727272%20C11.6301818%2C3.02727272%2012%2C2.36072727%2012%2C1.90909091%20C12%2C1.45745455%2011.6301818%2C1.09090909%2011.1741818%2C1.09090909%20L7.63636364%2C1.09090909%20Z"%20id%3D"Fill-1"%20sketch%3Atype%3D"MSShapeGroup"%2F><path%20d%3D"M1.72272728%2C4.05%20C1.57218183%2C4.05%201.45000001%2C4.17218182%201.45000001%2C4.32272728%20L1.45000001%2C11.1136364%20C1.45000001%2C11.5652727%201.81654546%2C11.9318182%202.26818183%2C11.9318182%20L9.75%2C11.9318182%20C10.2016364%2C11.9318182%2010.5681818%2C11.5652727%2010.5681818%2C11.1136364%20L10.5681818%2C4.32272728%20C10.5681818%2C4.17218182%2010.446%2C4.05%2010.2954545%2C4.05%20L1.72272728%2C4.05%20Z%20M7.84090909%2C9.21%20C7.84090909%2C9.50836364%207.59927273%2C9.75%207.30090909%2C9.75%20L7.29%2C9.75%20C6.99163636%2C9.75%206.75%2C9.50836364%206.75%2C9.21%20L6.75%2C6.47181818%20C6.75%2C6.17345455%206.99163636%2C5.93181818%207.29%2C5.93181818%20L7.30090909%2C5.93181818%20C7.59927273%2C5.93181818%207.84090909%2C6.17345455%207.84090909%2C6.47181818%20L7.84090909%2C9.21%20L7.84090909%2C9.21%20Z%20M4.84090909%2C9.21%20C4.84090909%2C9.50836364%204.59927273%2C9.75%204.30090909%2C9.75%20L4.29%2C9.75%20C3.99163636%2C9.75%203.75%2C9.50836364%203.75%2C9.21%20L3.75%2C6.47181818%20C3.75%2C6.17345455%203.99163636%2C5.93181818%204.29%2C5.93181818%20L4.30090909%2C5.93181818%20C4.59927273%2C5.93181818%204.84090909%2C6.17345455%204.84090909%2C6.47181818%20L4.84090909%2C9.21%20L4.84090909%2C9.21%20Z"%20id%3D"Fill-2"%20sketch%3Atype%3D"MSShapeGroup"%2F><%2Fg><%2Fg><%2Fsvg>');
  background-size: auto;
}

.ico-14-svg {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
