//
// ui-page-actions.scss
// Styles for UI page actions not provided by the
// Channel SDK UI Kit.
// --------------------------------------------------

.ui-page-actions {
  @include flexbox();
  margin: 0 auto;
  max-width: 1036px;
  padding: 20px 0;
  border-top: 1px solid #d3dbe2;
}

.ui-page-actions__primary {
  @include flex(1 1 auto);
  padding-right: 20px;
}

.ui-page-actions__secondary {
  @include flex(1 1 auto);
  padding: 0 20px;
}
