//
// ui-footer-help.scss
// Styles for footer help not provided by the Channel
// SDK UI Kit.
// --------------------------------------------------

.ui-footer-help {
  margin: 1.71429rem 0;
  text-align: center;
  width: 100%;
}

.ui-footer-help__content {
  color: rgba(0,0,0,0.56);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding: 1.14286rem;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
}
