//
// ui-type.scss
// Styles for type not provided by the Channel SDK UI
// Kit.
// --------------------------------------------------

hr {
  color: #e6e6e6;
  background-color: #e6e6e6;
  height: 1px;
  padding: 0;
  border: 0;
}
