//
// ui-tabs.scss
// Styles for tabs not provided by the Channel SDK UI
// Kit.
// --------------------------------------------------

.next-tab__list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f5f6f7;
  overflow: visible;
  border-radius: 3px 3px 0 0;

  flex-wrap: nowrap;
  display: flex;
  align-items: stretch;

  > li {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;

    &:first-child .next-tab {
      border-top-left-radius: 3px;
    }
  }
}

.next-tab {
  color: rgba(0,0,0,0.56);
  padding: 15px 20px;
  text-decoration: none;
  border-right: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  &:focus,
  &:hover {
    outline: none;
    background-color: #fafbfc;
    color: #0078bd;
    text-decoration: none;
  }

  &.next-tab--is-active {
    font-weight: normal;
    color: rgba(0,0,0,0.9);
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    cursor: default;
    text-decoration: none;
  }
}
