<%= form_tag user_sessions_path, method: :post do %>
  <div class="ui-empty-state">
    <section class="ui-empty-state__section">
      <div class="ui-empty-state__subsection">
        <h2 class="ui-empty-state__subtitle">Login as a Shopify User to access this page</h2>
      </div>
      <div class="ui-empty-state__subsection">
        <button type="submit" class="btn btn-large btn-primary">Login</button>
      </div>
    </section>
  </div>
<% end %>
