<section class="next-card__section">
  <div class="app-container">
    <%= f.label(:source, 'Source') %>
    <%= f.text_field(:source) %>

    <%= f.label(:name, 'Source name') %>
    <%= f.text_field(:name) %>
  </div>
</section>
